@keyframes swipeLeft 
{
    0% 
    {
        transform: translateX(100%);
    }
    100% 
    {
        transform: translateX(0);
    }
}
@keyframes swipeRight 
{
    0% 
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(0);
    }
}
@media (prefers-reduced-motion: no-preference) 
{
    .swipeLeft 
    {
        animation: swipeLeft 0.5s;
    }
    .swipeRight
    {
        animation: swipeRight 0.5s;
    }
}