/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #contents_left{
        display: none;
    }
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 50%;
    }
    #contents_left {
        display: none;
    }
    #arrow_container {
        transform: translate(-12.5%, 0%);
    }
    #arrow_container img {
        width: 20%;
        height: 20%;
    }
    #email_form {
        width: 80%;
    }
    #arrow {
        display: none;
    }
    body {
        overflow: visible;
    }
    #contents_right {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #contents_container {
        height: fit-content;
    }
    .slide {
        margin: 10px;
        width: 90%;
    }
    #main_subtitle{
        animation: 1s ease-out 0s 1 comeInRight;
        font-size: 50%;
    }
    .section_title span::before,  .section_title span::after{
        width: 60%;
    }
    #project_slide {
        left: -20%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #contents_left{
        display: none;
    }
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 50%;
    }
    #contents_left {
        display: none;
    }
    #arrow_container {
        transform: translate(-12.5%, 0%);
    }
    #arrow_container img {
        width: 20%;
        height: 20%;
    }
    #email_form {
        width: 80%;
    }
    #arrow {
        display: none;
    }
    body {
        overflow: visible;
    }
    #contents_right {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #contents_container {
        height: fit-content;
    }
    .slide {
        margin: 10px;
        width: 90%;
    }
    #main_subtitle{
        animation: 1s ease-out 0s 1 comeInRight;
        font-size: 50%;
    }
    .section_title span::before,  .section_title span::after{
        width: 60%;
    }
    #project_slide {
        left: -20%;
    }
}
 

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #contents_left {
        display: flex;
    }
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 50%;
    }
    #contents_left {
        display: none;
    }
    #arrow_container img {
        width: 20%;
        height: 20%;
    }
    #email_form {
        width: 80%;
    }
    #arrow {
        display: none;
    }
    body {
        overflow: visible;
    }
    #contents_right {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #contents_container {
        height: fit-content;
    }
    .slide {
        margin: 10px;
        width: 90%;
    }
    #main_subtitle{
        animation: 1s ease-out 0s 1 comeInRight;
        font-size: 50%;
    }
    .section_title span {
        display: inline-block;
        position: relative;   
    }
    .section_title span::before,  .section_title span::after{
        content: "";
        position: absolute;
        border-top: 5px solid red;
        top: 50%;
        width: 100%;
    }
    .section_title span::before{
        right: 100%;
    }
    .section_title span::after{
        left: 100%;
    }
    #project_slide {
        left: -20%;
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 37%;
    }
    #contents_left {
        display: flex;
    }
    #arrow_container img {
        width: 10%;
        height: 10%;
    }
    #email_form {
        width: 50%;
    }
    #arrow {
        display: inline;
    }
    body {
        overflow: hidden;
    }
    #contents_right {
        overflow-y: auto;
        overflow-x: hidden;
    }
    #contents_container {
        height: 100%;
    }
    .slide {
        margin: 35px;
        width: 40%;
    }
    #main_subtitle{
        animation: 1s ease-out 0s 1 comeInRight;
        font-size: 100%;
    }
    .section_title span {
        display: inline-block;
        position: relative;   
    }
    .section_title span::before,  .section_title span::after{
        content: "";
        position: absolute;
        border-top: 5px solid red;
        top: 50%;
        width: 100%;
    }
    .section_title span::before{
        right: 100%;
    }
    .section_title span::after{
        left: 100%;
    }
    #project_slide {
        left: 0%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #hamburger_menu {
        display: none;
    }
    #contents_left {
        display: flex;
    }
    #email_form {
        width: 50%;
    }
    #arrow {
        display: inline;
    }
    body {
        overflow: hidden;
    }
    #contents_right {
        overflow-y: auto;
        overflow-x: hidden;
    }
    #contents_container {
        height: 100%;
    }

    .slide {
        margin: 35px;
        width: 40%;

    }
    #main_subtitle{
        animation: 1s ease-out 0s 1 comeInRight;
        font-size: 100%;
    }
    .section_title span {
        display: inline-block;
        position: relative;   
    }
    .section_title span::before,  .section_title span::after{
        content: "";
        position: absolute;
        border-top: 5px solid red;
        top: 50%;
        width: 100%;
    }
    .section_title span::before{
        right: 100%;
    }
    .section_title span::after{
        left: 100%;
    }
    #project_slide {
        left: 0%;
    }
}