/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #contents_left{
        display: none;
    }
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 50%;
    }
    #contents_left {
        display: none;
    }
    #arrow_container {
        transform: translate(-12.5%, 0%);
    }
    #arrow_container img {
        width: 20%;
        height: 20%;
    }
    #email_form {
        width: 80%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #contents_left{
        display: none;
    }
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 50%;
    }
    #contents_left {
        display: none;
    }
    #arrow_container {
        transform: translate(-12.5%, 0%);
    }
    #arrow_container img {
        width: 20%;
        height: 20%;
    }
    #email_form {
        width: 80%;
    }
}
 

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #contents_left {
        display: flex;
    }
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 50%;
    }
    #contents_left {
        display: none;
    }
    #arrow_container img {
        width: 20%;
        height: 20%;
    }
    #email_form {
        width: 80%;
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #hamburger_menu {
        display: none;
    }
    .slide {
        width: 37%;
    }
    #contents_left {
        display: flex;
    }
    #arrow_container img {
        width: 10%;
        height: 10%;
    }
    #email_form {
        width: 50%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #hamburger_menu {
        display: none;
    }
    #contents_left {
        display: flex;
    }
    #email_form {
        width: 50%;
    }
}
